setuptools<68
oauthlib<3.3
requests-oauthlib<1.3.2
python-dotenv<1.1.0
pystac-client<0.6
pyyaml<7
redis<4
pygeofilter[backend-native]==0.2.0
click<9
requests<3
lxml<5
python-dateutil<3
swiftspec==0.0.2
mergedeep
structlog<22.0
pystac @ git+https://github.com/stac-utils/pystac@7f1c2b944b65f0c7633ade922abba37cb7feb4bb